@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@inject ICreditDebit credit_debit

@model DashboardView

@{

    Layout = "~/Views/Shared/dashboard.cshtml";
    ViewBag.Title = "Home Page";
}

<!-- Breadcrumb-->
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ul>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong>People <br />owed</strong>
                        </div>
                        <div class="number dashtext-1">@credit_debit.GetAllDebitors(userManager.GetUserId(User))</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @credit_debit.GetAllDebitors(userManager.GetUserId(User))%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-contract"></i></div><strong>People <br />owing You</strong>
                        </div>
                        <div class="number dashtext-2">@credit_debit.GetAllCreditors(userManager.GetUserId(User))</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @credit_debit.GetAllCreditors(userManager.GetUserId(User))%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>Money in View</strong>
                        </div>
                        <div class="number dashtext-3"><span>&#8358</span>@credit_debit.GetAllAmountGained(userManager.GetUserId(User))</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @credit_debit.GetAllAmountGained(userManager.GetUserId(User))%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>Total Amount owed</strong>
                        </div>
                        <div class="number dashtext-4"><span>&#8358</span>@credit_debit.GetAllAmountOwed(userManager.GetUserId(User))</div>
                    </div>
                    <div class="progress progress-template">
                        <div role="progressbar" style="width: @credit_debit.GetAllAmountOwed(userManager.GetUserId(User))" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding-bottom">
    <div class="container-fluid">
        @*<div class="row">
            <div class="col-lg-4">
                <div class="bar-chart block no-margin-bottom">
                    <input hidden value="@Model.Creditors" id="creditor" />
                    <input hidden value="@Model.Debitors" id="debitor" />
                    <canvas id="barChartExample1"></canvas>
                </div>
                <div class="bar-chart block">
                    <input hidden value="@Model.Creditors" id="creditor" />
                    <input hidden value="@Model.Debitors" id="debitor" />
                    <canvas id="barChartExample2"></canvas>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="line-cahrt block">
                    <canvas id="lineCahrt"></canvas>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-6">
                <div class="pie-chart chart block">
                    <div class="title"><strong>Pie Chart sample</strong></div>
                    <div class="pie-chart chart margin-bottom-sm">
                        <input hidden value="@Model.Creditors" id="creditor" />
                        <input hidden value="@Model.Debitors" id="debitor" />
                        <canvas id="pieChartCustom1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="doughnut-chart chart block">
                    <div class="title"><strong>Pie Chart Example</strong></div>
                    <div class="doughnut-chart chart margin-bottom-sm">
                        <input hidden value="@Model.Creditors" id="creditor" />
                        <input hidden value="@Model.Debitors" id="debitor" />
                        <canvas id="doughnutChartCustom1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
